@model fonq_distributiecentrum.Models.producten
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

@using (Html.BeginForm("Add", "Home"))
{
    <div>
        @Html.LabelFor(m => m.naam)
    </div>
    <div>
        @Html.TextBoxFor(m => m.naam)
    </div>
    @Html.ValidationMessageFor(m => m.naam)
    <br />
    <div>
        @Html.LabelFor(m => m.type)
    </div>
    <div>
        @Html.TextBoxFor(m => m.type)
    </div>
    <br />
    <div>
        @Html.LabelFor(m => m.merk)
    </div>
    <div>
        @Html.TextBoxFor(m => m.merk)
    </div>
    <br />
    <div>
        @Html.LabelFor(m => m.gewicht)
    </div>
    <div>
        @Html.TextBoxFor(m => m.gewicht)
    </div>
    <br />
    <div>
        @Html.LabelFor(m => m.afmetingen)
    </div>
    <div>
        @Html.TextBoxFor(m => m.afmetingen)
    </div>
    <br />
    <div>
        @Html.LabelFor(m => m.afbeeldingLink)
    </div>
    <div>
        @Html.TextBoxFor(m => m.afbeeldingLink)
    </div>
    <br />
    <div>
        <button type="submit">Add</button>
    </div>

}

