@model List<fonq_distributiecentrum.Models.LokaalVoorraad>
@{
    ViewBag.Title = "Vestigingvoorraad";
}
    <center>
        <h2>Vestigingvoorraad</h2>
<br />
        <br />
        <img src="~/Images/@ViewBag.ProductImage" height="300" />
        <h3> @ViewBag.ProductName</h3>
        <br /><br />

              <table width="600px" border="1">
                  <tr>
                      <th>
                          Store Name
                      </th>
                      <th>Location </th>
                      <th>Store Stock</th>
                      <th>Winkelvoorraad</th>
                  </tr>

                  @foreach (var s in Model)
                  {
              <tr>
                  @Html.HiddenFor(l => s.ProductID) //hidden id, gebruiker hoeft deze niet te zien.
                  @Html.HiddenFor(l => s.vestigingID)
                  <td>@s.StoreName</td>
                  <td>@s.Location</td>
                  <td>@s.StoreStock</td>
                  <td>@Html.ActionLink("Winkelvoorraad Aanpassen", "UpdateLocalStock", "StoreStock", new { ProductID = s.ProductID, vestigingID = s.vestigingID }, null)</td>

              </tr>
                  }
              </table>
    </center>